# Project exclude paths
/.gradle/
/build/bin/
/build/classes/
/build/kotlin/
/build/kotlinProjectStructureMetadata/
/build/kotlinSourceSetMetadata/
/build/reports/
/build/test-results/
/build/tmp/

/.idea/